// Reset
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

// End reset

// Vars

:root {
  --font-family-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

  --color-primary: hsl(5, 100%, 52%);
  --color-primary-l: hsl(5, 70%, 72%);
  --color-primary-d: hsl(358, 63%, 44%);
  --color-secondary: hsl(232, 29%, 15%);
  --color-secondary-l: hsl(254, 6%, 41%);
  --color-secondary-d: hsl(232, 29%, 10%);
  --color-body-bg: hsl(232, 10%, 97%);
  --color-body-fg: hsl(0, 0%, 0%);
  --color-body-fg-quiet: hsl(0, 0%, 27%);
  --color-body-fg-muted: hsl(0, 0%, 50%);
  --color-primary-fg: hsl(0, 0%, 100%);
  --color-textarea-bg: hsl(0, 0%, 100%);
  --color-textarea-fg: hsl(0, 0%, 0%);
  --color-links: var(--color-primary-d);
  --color-border: hsl(0, 0%, 46%);
  --color-outline: var(--color-secondary);

  --shadow: 0px 8px 15px rgb(0 0 0 / 10%), 0px 3px 5px rgb(0 0 0 / 15%);
  --text-shadow: 0px 2px 3px hsla(0, 0%, 0%, 25%);
  --text-shadow-filter: drop-shadow(0px 2px 3px hsla(0, 0%, 0%, 25%));
  --border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: hsl(5, 100%, 52%);
    --color-primary-l: hsl(5, 70%, 72%);
    --color-primary-d: hsl(358, 63%, 44%);
    --color-secondary: hsl(232, 29%, 15%);
    --color-secondary-l: hsl(254, 6%, 41%);
    --color-secondary-d: hsl(232, 29%, 10%);
    --color-body-bg: hsl(232, 10%, 10%);
    --color-body-fg: hsl(0, 0%, 80%);
    --color-body-fg-quiet: hsl(0, 0%, 65%);
    --color-body-fg-muted: hsl(0, 0%, 50%);
    --color-primary-fg: hsl(0, 0%, 100%);
    --color-textarea-bg: hsl(30, 3%, 20%);
    --color-textarea-fg: hsl(0, 0%, 90%);
    --color-links: var(--color-primary-l);
    --color-border: hsl(0, 0%, 46%);
    --color-outline: var(--color-secondary);
  }
}

// End vars

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-family-sans);
  background-color: var(--color-body-bg);
  color: var(--color-body-fg);
}

a, a:visited {
  color: var(--color-links);
}

header {
  text-align: center;
  background-color: var(--color-primary-d);
  color: var(--color-primary-fg);
  padding: 16px;
  box-shadow: 0 0 8px 3px hsla(0, 0%, 0%, 0.25);

  .title {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
  }
}

footer {
  background-color: var(--color-body-bg);
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: var(--color-body-fg-quiet);
  padding: 12px;
}

.site-description {
  text-align: center;
  font-size: 18px;
  margin-top: 48px;
  margin-bottom: 16px;
}

main {
  max-width: 2000px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  gap: 24px;
  padding: 24px 24px 48px;
}

.controls-container {
  flex-basis: 40%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .controls {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .threshold {
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        align-items: center;
      }
    }

    .button-row {
      display: flex;
      gap: 8px;
      justify-content: space-between;
    }
  }

  .drop-container {
    text-align: center;
    height: 100px;
    border: 1px dashed var(--color-border);
    padding: 12px;

    svg {
      width: 48px;
      height: 48px;
    }
  }
}

.output {
  flex-basis: 60%;
  flex-grow: 1;
  border: 1px solid var(--color-border);
  height: 1000px;
  max-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    object-fit: scale-down;
  }

  img, .placeholder {
    max-height: 100%;
    max-width: 100%;
  }
}

// Utils

.overlay-container {
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--border-radius);
    background: hsla(0, 0%, 0%, 0.8);
    color: white;
    display: grid;

    > .content {
      margin: auto;
      line-height: 1.5em;
    }
  }

}


.button-icon {
  border: 0;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s ease;
  box-shadow: var(--shadow);

  * {
    filter: var(--text-shadow-filter);
  }

  &:hover {
    background-color: var(--color-primary-l);
  }

  &:active {
    background-color: var(--color-primary-d);
  }
}

// Hide visually only
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
